.title
{
    width:676px;
    height:43px;
    background-image: url(../images/text_what_i_can_do_for_your_business.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin:10px auto 0;
    text-indent:-9999999px;
}

#boxes
{
    width:909px;
    margin:10px auto 0;
}
.box
{
    width:222px;
    height:202px;
    background-image: url(../images/box_info.png);
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    margin-left:7px;
}
.box_first
{
    margin-left:0px;
}
.box p
{
    padding:9px 12px 10px;
    text-shadow: 0 0 3px white;
    line-height: 22px;
    font-size: 20px;
    font-family: "HelveticaNeue", Helvetica;
}

p
{
    padding:12px 9px;
    text-shadow: none;
    line-height: 25px;
    font-size: 20px;
    font-family: "HelveticaNeue", Helvetica;
}

p#thanks
{
    position:absolute;
    bottom:8px;
    left: 190px;
}