/* 
    Document   : base
    Created on : Jun 9, 2011, 2:07:12 PM
    Author     : mkram0
    Description:
        Basic CSS Styles applying to all pages
*/

/*
 ----> CSS Reset file. Copied from meyerweb.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, root {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
        font-family: "Helvetica Neue", Helvetica, sans-serif !important;
	font: inherit;
	vertical-align: baseline;
        text-shadow: 0 1px 0 black;
        color: rgb(34,34,34);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear
{
    clear:both;
}
.clear_left
{
    clear:left;
}
.clear_right
{
    clear:right;
}
.float_left
{
    float:left;
}
.float_right
{
    float:right;
}

.nomargin
{
    margin:0px;
}

body, html
{
    height:100%;
    width:100%;
}

body
{
    min-width:939px;
    max-height:1000px;
    height:100%;
    background: rgb(14,15,17);
}

a
{
    text-decoration: none;
    text-shadow: 0 1px 0 white;
}
a:hover
{
    text-decoration: none;
    text-shadow: 0 0 0 #333;
}
a:visited
{
    text-shadow: 0 0 0 red;
}
a:active
{
    text-shadow: 0 0 0 red;
}

p
{
    text-shadow: none;
}

.textRotate
{
    -webkit-transform: rotate(1.1deg); 
    -moz-transform: rotate(1.1deg);	
}

/*
 ----> End of CSS Reset
*/

/*
   Custom CSS Styles for Reset
*/
p
{
    font-size:18px;
}

h1
{
    font-size:50px;
}

h2
{
    font-size:35px;
}

h3
{
    font-size:22px;
}

h4
{
    font-size:20px;
}

h5
{
    font-size:18px;
}

h6
{
    font-size:13px;
}

/*
   Color presets used in the design
*/
.white
{
    color: rgb(255,255,255);
}

.gray
{
    color: rgb(156,156,156);
}

.darkgray
{
    color: rgb(34,34,34);
}

.black
{
    color: rgb(0,0,0);
}

/*
   Background
*/

#container
{
    background: url("../images/background.png") no-repeat;
    background-position: center top;
    position:relative;
    min-width: 939px;
    min-height: 773px;
    height: 100%;
    width:100%;
}
#content
{
    width:939px;
    margin:0 auto;
    position:relative;
}

/*
   Navigation and the top bit
*/
#header
{
    height:280px;
    position:relative;
}

/*
   Logo
*/
#logo
{
    position:relative;
    top:30px;
    width:440px;
    height:107px;
    background-image: url("../images/logo.png");
}

/*
   Slogan
*/
#slogan h3
{
    position:absolute;
    top:58px;
    right:0px;
}
#slogan h6
{
    position:absolute;
    top:46px;
    right:0px;
}

/*
   Navigation
*/
#navigation
{
    list-style:none;
    width:inherit;
    height:79px;
    float:left;
    position:absolute;
    top: 193px;
}
#navigation li
{
    margin-left:1px;
    float:left;
    height:inherit;
    overflow: hidden;
}
#navigation a, #navigation span
{
    display:block;
    position:absolute;
    width:inherit;
    height:inherit;
    text-indent: -999999px;
    background-image: url("../images/navigation.png");
    cursor:pointer;
}
#navigation span
{
    margin-top: 79px;
}

/* Navigation about_me link */

#navigation li#nav_about_me
{
    margin-left:0px;
    width:254px;
    position:relative;
    height:inherit;
    background:none;
}
#navigation li#nav_about_me a, #navigation li#nav_about_me span
{
    width:inherit;
    background-image: url("../images/navigation.png");
    background-position:0px 0px;
    height:inherit;
}
#navigation li#nav_about_me span
{
    background-position: 0px 79px;
}

/* Navigation log_in link */

#navigation li#nav_log_in
{
    margin-left:0px;
    width:240px;
    position:relative;
    height:inherit;
    background:none;
}
#navigation li#nav_log_in a, #navigation li#nav_log_in span
{
    width:inherit;
    background-image: url("../images/navigation.png");
    background-position: -255px 0px;
    height:inherit;
}
#navigation li#nav_log_in span
{
    background-position: -255px 79px;
}

/* Navigation portfolio link */

#navigation li#nav_portfolio
{
    margin-left:0px;
    width:224px;
    position:relative;
    height:inherit;
    background:none;
}
#navigation li#nav_portfolio a, #navigation li#nav_portfolio span
{
    width:inherit;
    background-image: url("../images/navigation.png");
    background-position: -496px 0px;
    height:inherit;
}
#navigation li#nav_portfolio span
{
    background-position: -496px 79px;
}

/* Navigation contact link */

#navigation li#nav_contact
{
    margin-left:0px;
    width:218px;
    position:relative;
    height:inherit;
    background:none;
}
#navigation li#nav_contact a, #navigation li#nav_contact span
{
    width:inherit;
    background-image: url("../images/navigation.png");
    background-position: -721px 0px;
    height:inherit;
}
#navigation li#nav_contact span
{
    background-position: -721px 79px;
}

/*
   Canvas
*/
#canvas
{
   width:919px;
   height:463px;
   margin-top:10px;
   background-image: url("../images/container_bg.png");
   padding:10px;
   position:relative;
   overflow:hidden;
}

/*
   Forms
*/

/* Checkbox */
label
{
    display:block;
    margin-bottom: 3px;
    padding-left: 0.5em;
    width:261px;
    height: 18px;
    line-height:20px;
    clear:both;
}
.checkbox
{
    background-position: 8px center;
    background-repeat: no-repeat;
    border: 1px solid #252525;
    color: white;
    cursor: pointer;
    padding: 0.5em;
    padding-left: 38px;
}
.checkbox input[type=checkbox]
{
    display: none;
}
.checked
{
    background-color: rgb(34,34,34);
    background-image: url("../images/box_checkbox_on.png");
}
.unchecked
{
    background-color: rgb(28,28,28);
    background-image: url("../images/box_checkbox_off.png");
}
/* Buttons */
.button
{
    display:block;
    height:36px;
    width:137px;
    background-image: url("../images/button.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    font-size: 22px;
    font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica;
    cursor:pointer;
    clear:both;
    margin-left: 172px;
}
/* Text inputs */
.input_text
{
    display:block;
    width:311px;
    height:36px;
    padding:0;
    margin:0;
    margin-left: -1px;
    margin-bottom: 3px;
    background-image: url("../images/input_bg.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: relative;
    font-family: "HelveticaNeue-Light";
}
.input_text span
{
    position:absolute;
    z-index: 7;
    font-size: 18px;
    line-height: 17px;
    padding:0.5em;
    padding-left:0.6em;
    text-align: right;
    height:18px;
    text-shadow: 0 1px 0 gray;
    overflow:hidden;
}
.input_text input[type=text], .input_text input[type=password]
{
    border: none;
    width:293px;
    height:18px;
    background: transparent;
    padding:0.5em;
    font-size: 18px;
    font-family: inherit;
    position:absolute;
    top:0;
    left:0;
    z-index: 8;
}
.focused
{
    background-position: 0px -36px;
}

/*
    Sticker
*/
.sticker
{
    position:absolute;
    background-image: url(../images/sticker.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 323px;
    height: 126px;
    bottom:10px;
    right:10px;
}
.sticker p
{
    padding:3px 7px;
    font-family:"HelveticaNeue", Helvetica;
    font-size: 20px;
    line-height: 23px;
}
.sticker a
{
    position:absolute;
    bottom:10px;
    right:10px;
    font-size:24px;
    text-shadow:none;
    text-decoration: underline;
}
.sticker a:hover
{
    text-shadow: 0 0 1px blue;
    text-decoration: none;
}
.sticker a:active
{
    text-shadow: 0 0 1px red;
}